GEMINI_API_KEY=
VIRUSTOTAL_API_KEY=2cb0b60bcf973d948fc510d772e12b5df4793f9b9599108870ee7311e231b780
GOOGLE_SAFE_BROWSING_KEY=AIzaSyDRf70UhwBc34p2mBu79MD8ln9DJ_Z96_M
XPOSEDORNOT_API_KEY=
VITE_API_URL=https://gaurdshield-2.onrender.com
